body {
    margin: 0;
    background-color: black;
}

h1 {
    margin: 0;
}

.main-nav {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
}

.headline {
    color: white;
    font-size: 32px;
    margin: 0;
    height: 60px;
    margin-bottom: 18px;
}

.pokeball-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.nav-icons {
    position: relative;
    height: 100%;
    width: 30%;
}

#search-icon {
    position: absolute;
    width: 70px;
    top: -4px;
    right: -21px;
}

#pokeball-icon {
    position: absolute;
    width: 13px;
    top: -12px;
    right: -21px;
}


#menu-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.menu{
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.menu:hover{
    background-color: var(--lila-trans);
    cursor: pointer;
}


.mobile-nav {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    position: absolute;
    top: 78px;
    right: 0;
    padding: 0 12px 12px 12px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.65);
}

.animateFadeOut {
    animation: fadeOut 1s ease 0s 1 normal forwards;
}

.animateFadeIn {
    animation: fadeIn 1s ease 0s 1 normal forwards;
}

.content-container{
    position: relative;
}

.content {
    background-image: url('../img/bg.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    width: 10px;
  }

.content::-webkit-scrollbar-track {
    background: #f1f1f13a;
  }  

  .content::-webkit-scrollbar-thumb {
    background: #888;
  }

.card-content {
    height: 100%;
    width: 80%;
    margin-top: 100px;
    align-items: flex-start;
}

.card {
    height: 250px;
    color: white;
    margin-bottom: 50px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.65);
}

.card-main {
    position: relative;
    height: 55%;
}

.poke-names {
    padding-left: 16px;
    margin: 0;
}

.poke-img {
    width: 170px;
}

.poke-img-container {
    position: absolute;
    top: -27px;
    right: 11px;
}

.id {
    padding: 16px 0 0 16px;
}

.type {
    width: 30%;
    border-radius: 10px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 4px 0 4px 0;
    height: 37px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: white;
}

.pokemon-details{
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.detail-card{
    border-radius: 10px;
    height: 700px;
    width: 500px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.65);
}

.nav-icons:hover{
    cursor: pointer;
    opacity: 1;
}

#search-icon:hover + .search-blend{
    opacity: 1;
}

.search-blend{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    top: 50px;
    right: -62px;
    width: 132px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
}

#search-input{
    height: 40px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 0px 15px 5px rgb(255 255 255 / 65%);
}

#search-input-container{
    position: absolute;
    top: 9px;
    right: -45px;
    transition: fadeIn 225ms;
    animation: fadeIn 1s ease-in-out;
    
}

.close-mark{
    color: white;
    font-weight: bold;
}

.load-text{
    color: white;
}

.load{
    width: 40px;
    object-fit: contain;
    margin-left: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100px);
    }
}


@media (max-width: 370px) {
    .poke-img-container {
        top: 10px;
        right: -12px;
    }

    .poke-img {
        width: 138px;
    }
}

@media (min-width: 500px) {
   .card{
    width: 380px;
    margin-left: 16px;
    margin-right: 16px;
   }

   .card-content{
    display: flex;
    flex-wrap: wrap;
    width: 87%;
   } 
}

/* @media(min-width: 1230px){
    .content{
        background-position: center;
    }
} */

@media(min-width: 700px){
    #menu-icon{
        display: none;
    }
}

@media (max-width: 699px){
    .nav-icons{
        display: none;
    }
}